/apps/baukis2/.bundle
/apps/baukis2/log/*
/apps/baukis2/tmp/*
!/apps/baukis2/log/.keep
!/apps/baukis2/tmp/.keep
/apps/baukis2/tmp/pids/*
/apps/baukis2/tmp/pids/*
!/apps/baukis2//tmp/pids/
!/apps/baukis2/tmp/pids/.keep
/apps/baukis2/storage/*
!/apps/baukis2/storage/.keep
/apps/baukis2/public/assets
/apps/baukis2/public/assets
/apps/baukis2/.byebug_history
/apps/baukis2/config/master.key
/apps/baukis2/public/packs
/apps/baukis2/public/packs-test
/apps/baukis2/node_modules
/apps/baukis2/yarn-error.log
/apps/baukis2/yarn-debug.log*
/apps/baukis2/.yarn-integrity

/tmp/*
!/tmp/.keep
docker-compose.override.yml
